<!-- Page Header -->
<!-- Set your background image for this header in the theme's configuration: index_cover -->
<style>
.header-button-block {
    margin: 30px;
}
</style>
<header class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>HappyCoder</h1>
                    <hr class="small">
                    <span class="subheading"><%- config.subtitle %></span>
                    <div class="header-button-block">
                        <a target="_blank" href="/tutorials"><button class="btn btn-success">程式設計教學</button></a>
                        <a target="_blank" href="https://www.facebook.com/groups/HappyCoderOrg/"><button class="btn btn-primary">臉書學習社群</button></a>
                        <a target="_blank" href="https://www.youtube.com/channel/UCehU65UuvbswxhZ4CXJkdxA"><button class="btn btn-danger">影音教學頻道</button></a>
                    </div>
                    <div class="fb-like" data-href="https://www.facebook.com/HappyCoderOrg/" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <% page.posts.each(function(item){ %>
                <div class="fb-like" data-href="https://www.facebook.com/HappyCoderOrg/" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
                <%- partial('_partial/article-index', {item: item}) %>
            <% }); %>
            <%- partial('_partial/pagination') %>
        </div>
    </div>
</div>
